@font-face{
  font-family:Lato;
  src:url('Lato-Thin.ttf');
}
body,html{
  font-family: Lato;
  color:black;
  height:100%;
  margin: 0px;
}
.image1{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;  
  background-image: url("Ocean.jpeg") ;
  min-height: 100%;
 }
#title{
  position: absolute;
  opacity:100%;
}

.navigation{
  position: sticky;
  top: -9px;
  padding:0px;
  font-family:Lato;
  src:url('Lato.ttf');
} 
.navigation ul,li,a{
  display:inline;
  text-decoration: none;
  float:right;
  padding-left: 10px;
  color: white;
}

a:hover{
 color: #454547;
 text-decoration: none;
}

h1{
	font-size:32px;
	text-align: center;
	z-index: 0;
	opacity:0.5;
	font-weight: bold;
}

#content{
  background-color: white;
  height: 1000px;
  padding-top: 250px;
  font-weight: bold;
}

h4{
	font-weight: bold;
}

h3{
  font-size:32px;
  line-height: 75px;
  position: center;
  text-align: center;
  font-weight: bold;

}
#robokids,#zwilling,#VEX,#Netgear{
	position:relative;
	margin-left: auto;
	margin-right: auto;
	display:block;
}

#footer{
  padding-top: 50px;
  height:auto;
  background-color: #454547;
  color: white;
  width:100%;
  bottom:0;
  position:relative;
  margin:auto;
  padding:auto;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h4{
  margin-top: 0;
  color: #333;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}